extends layout

block content
  
  .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container
      .nabar-header
        a.navbar-brand React Koa Gulp Mongoose Mocha Demo #{test}
      .navbar-collapse.collapse
        ul#navbarmenu.nav.navbar-nav.navbar-right
          li
            p.navbar-text
              span.glyphicon.glyphicon-user
              |  #{user.username}
          li
            a(href='/logout')
              span.glyphicon.glyphicon-off
              |  Log Out
  .container
    #page-container
        
