doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')

    - var titleTag = siteName
    - if (title) titleTag = title + ' | ' + titleTag
    title= titleTag

    link(rel='stylesheet', href='/app.css')

  body
    block content


    script(type='text/javascript', src='/app.js')
